@import "./reset.css";

:root {
  --max-width: 1280px;
  --border-radius: 5px;
  --section-padding: 10rem;
  --card-padding: 2rem;
  --grid-gap: 3.2rem;

  --headings-font: "Bebas Neue", sans-serif;
  --paragraph-font: "Inter", sans-serif;

  --primary-color: #40ff1a;
  --background-dark-color: #0a0a0a;
  --card-background-color: #1a1a1a;
  --text-primary-color: #ffffff;
  --text-muted-color: #b3b3b3;
  --border-color: #333333;
  --error-color: #b00000;
  --error-accent-color: #f87171;

  --hero-title: 9.6rem;
  --badges-size: 1.2rem;
  --heading-size: 4.8rem;
  --paragraph-size: 1.6rem;
  --nav-links-size: 1.4rem;

  --hover-box-shadow: 0 0 15px var(--primary-color);

  --transition: all 0.25s ease-in-out;
}

.container {
  max-width: min(100% - 30px, var(--max-width));
  margin-inline: auto;
}

h1,
h2,
h3 {
  font-family: var(--headings-font);
  letter-spacing: 1px;
}

h1 {
  font-size: var(--heading-size);
}

p,
button {
  font-size: var(--paragraph-size);
}

p,
a,
button {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--background-dark-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(12px);
  height: 7rem;
  border-bottom: 1px solid var(--border-color);
}

.header-container,
.nav-actions,
.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-container {
  height: 100%;
}

.company-name,
.company-name span,
.navigation-list a,
.menu-toggle {
  transition: var(--transition);
}

.company-name {
  font-size: 3.2rem;
  color: var(--text-primary-color);
}

.company-name span {
  color: var(--primary-color);
}

.company-name:hover {
  color: var(--primary-color);

  span {
    color: var(--text-primary-color);
  }
}

.menu-toggle,
#mobile-login {
  display: none;
}

.menu-toggle {
  background-color: transparent;
  color: var(--text-primary-color);
  font-size: 2.2rem;
}

.navigation-list {
  gap: 4rem;
}

.navigation-list a {
  color: var(--text-muted-color);
  text-transform: uppercase;
  font-weight: 600;
}

.navigation-list a:hover,
.menu-toggle:hover,
.login-button {
  color: var(--primary-color);
}

.login-button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.login-button:hover {
  background-color: var(--primary-color);
  color: var(--background-dark-color);
}

/* HERO SECTION */
.hero-section {
  display: grid;
  place-items: center;
  background: rgba(10, 10, 10, 0.8) url(../media/images/hero-image.png) no-repeat center/cover;
  background-blend-mode: multiply;
  min-height: 90rem;
  height: 100%;
  margin-top: 7rem;
}

.hero-container {
  color: var(--text-primary-color);
  max-width: 52rem;
  margin-inline: 1.5rem;
}

.update-badge,
.hero-headline {
  margin-bottom: 2rem;
}

.update-badge {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  padding: 0.7rem 1.7rem;
  border-radius: 99px;
  font-family: var(--paragraph-font);
  font-size: var(--badges-size);
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(64, 255, 26, 0.1);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.fa-circle {
  font-size: 0.8rem;
}

.hero-headline {
  font-size: var(--hero-title);
  line-height: var(--hero-title);
}

.hero-headline > span {
  display: block;
}

.hero-highlight {
  color: var(--primary-color);
}

.hero-intro {
  font-size: 1.8rem;
  color: var(--text-muted-color);
  margin-bottom: 4rem;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8rem;
}

.hero-buttons a {
  display: inline-block;
}

.primary-button,
.secondary-button {
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-weight: 600;
  transition: var(--transition);
}

.primary-button {
  padding: 1.2rem 3.2rem;
  background-color: var(--primary-color);
  color: var(--background-dark-color);
}

.fa-arrow-right {
  padding-left: 1rem;
  transition: var(--transition);
}

.primary-button:hover {
  box-shadow: var(--hover-box-shadow);
  .fa-arrow-right {
    padding-left: 1.5rem;
  }
}

.secondary-button {
  padding: 1rem 3.2rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.secondary-button:hover {
  background-color: var(--primary-color);
  color: var(--background-dark-color);
}

.hero-extra-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero-extra-info li {
  flex-grow: 1;
}

.hero-extra-info h3 {
  font-size: 3rem;
  color: var(--primary-color);
}

.hero-extra-info p {
  color: var(--text-muted-color);
  font-size: var(--nav-links-size);
}

/* BANNER SECTION */
.banner-section {
  font-family: var(--headings-font);
  font-size: 1.8rem;
  letter-spacing: 5.4px;
  background-color: var(--primary-color);
  overflow: hidden;
  white-space: nowrap;
  padding: 1.2rem 0;
}

.banner-text {
  display: inline-flex;
  animation: scroll-left 20s linear infinite;
}

.banner-text span {
  padding-right: 3rem;
}

.banner-section:hover .banner-text {
  animation-play-state: paused;
}

/* SHOP SECTION */
.shop-section {
  padding: var(--section-padding) 0;
}

.shop-container,
.shop-categories,
.product-tags {
  display: flex;
  align-items: center;
}

.shop-container {
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}

.shop-intro {
  text-align: center;
}

.shop-intro h2 {
  color: var(--text-primary-color);
  font-size: var(--heading-size);
}

.shop-intro p {
  color: var(--text-muted-color);
  font-size: var(--paragraph-size);
}

.shop-categories {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.shop-categories li {
  padding: 0.8rem 2rem;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--paragraph-font);
  font-size: var(--nav-links-size);
  cursor: pointer;
  transition: var(--transition);
}

.shop-categories li:not(:first-child) {
  background-color: transparent;
  color: var(--text-muted-color);
  border: 1px solid var(--border-color);
}

.shop-categories li:not(:first-child):hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#selected-category {
  background-color: var(--primary-color);
}

#selected-category:hover {
  box-shadow: var(--hover-box-shadow);
}

.shop-products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  gap: var(--grid-gap);
}

.shop-products .product {
  background-color: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.shop-products .product,
.product-image img {
  transition: var(--transition);
}

.shop-products .product:hover {
  border-color: var(--primary-color);

  .product-image img {
    transform: scale(1.07);
  }
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-link {
  position: absolute;
  isolation: isolate;
  bottom: 10px;
  right: 10px;
  height: 4rem;
  width: 4rem;
  border-radius: 99px;
  background: var(--primary-color) url(../media/images/up-arrow.svg) no-repeat center;
  animation: show 0.4s ease-in-out;
}

.product-tags {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  gap: 0.8rem;
  font-size: var(--badges-size);
}

.product-tags li {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: var(--border-radius);
}

.new-tag {
  background-color: var(--primary-color);
  color: var(--background-dark-color);
}

.sale-tag {
  background-color: var(--error-color);
  color: var(--text-primary-color);
}

.product-info {
  padding: 1.5rem;
}

.product-category {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.product-category > p,
.product-rating {
  font-size: var(--badges-size);
}

.product-rating {
  text-wrap: nowrap;
}

.product-category,
.product-name + p {
  margin-bottom: 1rem;
}

.product-category > p,
.fa-star {
  color: var(--primary-color);
}

.fa-star {
  margin-right: 0.4rem;
}

.product-category > span,
.product-rating span,
.product-name + p,
.slashed-price {
  color: var(--text-muted-color);
}

.product-name,
.price-now {
  color: var(--text-primary-color);
  font-size: 1.8rem;
}

.product-name h3 {
  letter-spacing: 1.5px;
}

.product-price {
  font-family: var(--headings-font);
}

.slashed-price {
  text-decoration: line-through;
  margin-left: 1rem;
  font-size: var(--nav-links-size);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  :root {
    --hero-title: 4.8rem;
    --grid-gap: 2rem;
  }

  /* HEADER */
  .menu-toggle,
  #mobile-login {
    display: block;
  }

  nav,
  #mobile-login,
  #mobile-login button {
    width: 100%;
  }

  #desktop-login {
    display: none;
  }

  .show-nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    background-color: var(--background-dark-color);
    border-bottom: 1px solid var(--border-color);
  }

  .navigation-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 2.4rem 3.2rem;
  }

  /* HERO SECTION */
  .primary-button,
  .secondary-button {
    font-size: 1.4rem;
  }

  /* SHOP SECTION */
  .shop-products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product-tags {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .shop-products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.feature {
  color: #ffffff;
}

