@import "./reset.css";

:root {
  --max-width: 1240px;
  --border-radius: 5px;
  --section-padding: 10rem;
  --card-padding: 2rem;
  --grid-gap: 3.2rem;

  --headings-font: "Bebas Neue", sans-serif;
  --paragraph-font: "Inter", sans-serif;

  --primary-color: #40ff1a;
  --background-dark-color: #0a0a0a;
  --card-background-color: #1a1a1a;
  --text-primary-color: #ffffff;
  --text-muted-color: #b3b3b3;
  --border-color: #333333;
  --error-color: #ef4444;
  --error-accent-color: #f87171;

  --hero-title: 5.2rem;
  --badges-size: 1.2rem;
  --heading-size: 4.8rem;
  --paragraph-size: 1.6rem;
  --nav-links-size: 1.4rem;

  --hover-box-shadow: 0 0 15px var(--primary-color);

  --transition: all 0.25s ease-in-out;
}

.container {
  max-width: min(100% - 30px, var(--max-width));
  margin-inline: auto;
}

h1,
h2,
h3 {
  font-family: var(--headings-font);
}

h1 {
  font-size: var(--heading-size);
}

p,
button {
  font-size: var(--paragraph-size);
}

p,
a,
button {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--background-dark-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
header {
  height: 6rem;
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.company-name {
  font-size: 3.2rem;
  letter-spacing: 2px;
  color: var(--text-primary-color);
}

.company-name span {
  color: var(--primary-color);
}
